body { margin:0; background:black; }
#player-container { position:relative; width:100%; height:100vh; }

video, iframe {
  width:100%;
  height:100%;
  object-fit:contain;
}

.logo {
  position:absolute;
  top:10px;
  left:10px;
  color:white;
  font-size:18px;
  z-index:10;
}

.controls {
  position:absolute;
  bottom:0;
  width:100%;
  background:linear-gradient(to top, rgba(0,0,0,.8), transparent);
}

#settings-menu {
  display:none;
  position:absolute;
  bottom:60px;
  right:10px;
  background:black;
  padding:10px;
}

#lock { position:absolute; left:10px; top:50%; z-index:9; }
#screenshot { position:absolute; right:10px; top:50%; z-index:9; }
